# ############################################################################
# Author: 		Matthieu Holtz
# Year:   		2017
# Project: 		wifi bridge
# Description: 	This file is the config file for the wifi scripts
# ############################################################################

################# Global ################ 

WLAN_IFACE_NAME="wlan0"
ETH_IFACE_NAME="eth0"

############## Client mode ##############

AP_SSID="PHOTOMATOON"
AP_WPA_PASSPHRASE="thisistopsecret"
AP_CHANNEL=4
AP_HOSTAPD_DRIVER="nl80211"
#AP_HOSTAPD_DRIVER="rtl871xdrv"
################## LAN ##################

WLAN_IFACE_IP="10.0.0.254"
WLAN_IFACE_SUBNET_MASTK="255.0.0.0"
WLAN_DNS_SERVER="8.8.8.8"
WLAN_DHCP_SUBNET="10.0.0.0"
WLAN_DHCP_START="10.15.15.1"
WLAN_DHCP_STOP="10.15.15.254"
WLAN_DOMAIN_NAME="photomatoon.lan"

############## FORWARDING  ##############

# For no forwarding port use declare -a PORT_FORWARDING=()
# For forwarding port use declare -a PORT_FORWARDING=('tcp|udp:SRC_PORT:DST_IP:DST_PORT')
# Example : to forward TCP port 80 to 192.168.0.20 use:
#           declare -a PORT_FORWARDING=('tcp:80:192.168.0.20:80')

declare -a PORT_FORWARDING=()

declare -a DHCP_RESERVATIONS=()
